body, html {
    background-image: url(img/earth-1149733_1920.jpg);
    background-size: cover;
    background-image: no-repeat;
    height: 100%;
    width: 100%;
    overflow: auto;
    
  
  }
  

  
  .container {
      display: flex;
      flex-direction: column;
      line-height: 30px;
      background-color: #111;
      opacity: 0.9;
    


 
  }

  .inputRocket{
    color: #fff;
  }


  #players{
    display: flex;
    flex-direction: column;
   
  

  }

  #player{
      margin: 15px;
      
  }

  .btn{
      height: 70px;
      width: 130px;
  }

  #winner{
    color: #fff;
  }

  #winner p{
    color: #fff;
    font-size: 40px;
  }

  #rocketTransition img{
    width: 100px;
    height: 100px;
    animation: rocket 5s linear infinite;
    transform: rotate(45deg);
    position: absolute;
    left: 150px;
    
    

  }

  @keyframes rocket  {
    0%{ 
       

    }

    20%{
       left: 250px;

    }

    
    50%{
      left: 500px;
      
  
     

   }

   100%{
    left: 1000px;
   
    

 }


  }